@import "./corporate-design.scss";
@import "./leaflet-marker-cluster.scss";
@import "./storymap.scss";
@import "./navbar.scss";
@import "./toMapDiv.scss";

html,
body {
  height: unquote("calc(100vh - 25px)");
  overflow-x: hidden;
}
.modal-90w {
  max-width: 90% !important;
}

.startpageheader {
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
  padding: 10px;
  padding-left: 20px;
  border-radius: 5px;
}

.collapseUserPage {
  margin-bottom: 20px;
  width: 90vw;
  padding: 15px;
}
.collapseButton {
  margin-bottom: 5px;
  width: 100vw;
  border-radius: 0 !important;
}
.sr-only {
  display: none;
}

.pointMap.leaflet-container {
  position: fixed;
  top: 64px;
  left: 0;
  width: 100vw;
  height: unquote("calc(100vh - 64px)");
  z-index: 2;
}

.main-container {
  width: 100vw;
  margin-top: 64px;
}
.jumbotron-content {
  width: 100vw;
  height: unquote("calc(100vh - 25px)") !important;
  border-radius: 0 !important;
  text-align: center;
  background-color: $secondary_opac;
  margin: 0px !important;
  padding: 40vh;
  color: white;
}

.jumbotron-div {
  width: 100vw;
  height: unquote("calc(100vh - 25px)") !important;
  text-align: center;
  margin: 0px;
  position: relative;
  display: inline-block;
}
.underline-span {
  text-decoration: underline;
  -webkit-text-decoration-color: $info;
  color: white;
  text-decoration-color: $info;
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  transition-delay: 1.5s;
}
/*
#jumbo-text:hover .underline-span {
  -webkit-text-decoration-color: $primary;
  text-decoration-color: $primary;
  color: $info;
  transition-delay: 0s;
}
*/
video {
  object-fit: cover;
  width: 100vw;
  height: unquote("calc(100vh - 25px)");
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.image-stack-bottom {
  padding: 2rem 4rem;
  border-radius: 8px;
  max-width: 800px;
  min-height: 300px;
}
.image-stack-bottom.first {
  margin-right: 60px;
  background-color: $primary;
  color: white;
  padding-left: 300px;
  margin-top: 200px;
  margin-bottom: 50px;
}
.image-stack-bottom.second {
  margin-left: 60px;
  margin-top: 150px;
  margin-bottom: 200px;
  background-color: $info;
  color: white;
  padding-right: 300px;
  float: right;
}
.image-stack-bottom.mobile {
  margin-right: auto;
  margin-left: auto;
  margin-top: 150px;
  margin-bottom: 150px;
  color: white;
  padding-top: 300px;
}
.primary-cite {
  background-color: $primary;
}
.secondary-cite {
  background-color: $info;
}
.image-stack-top {
  margin-top: 130px;
  margin-bottom: 130px;
  position: absolute;
  z-index: 1;
}
.image-stack-top.first {
  margin-left: 30px;
  top: 0;
  left: 0;
}
.image-stack-top.second {
  margin-right: 30px;
  top: 0;
  margin-top: 80px;
  right: 0;
  float: right;
}
.image-stack-top.mobile {
  top: 0;
  left: 50%;
  margin-left: -120px;
  margin-top: 50px;
}
.story-img {
  width: 240px;
  height: auto;
  border-radius: 8px;
  display: block;
  scale: unset;
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
}
.story-img:hover {
  transform: scale(1.2);
}
.loader {
  backdrop-filter: blur(1px);
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  position: fixed;
}

.loader-spinner {
  position: absolute;
  width: 50vw;
  height: 50vw;
  top: 50%;
  left: 50%;
}

.infoContainer {
  width: 100vw;
  height: 100vh;
  padding: 4rem 2rem;
  padding-top: unquote("calc(100vh/3 - 10vh)");
  font-size: x-large;
  text-align: center;
}
.tryout {
  text-align: right;
}
.modal-backdrop {
  backdrop-filter: blur(30px);
  background-color: #01223770;
}
.modal-backdrop.in {
  opacity: 1 !important;
}

.modal-body {
  background-color: white;
}
.modal-header {
  background-color: white;
}
.modal-footer {
  background-color: white;
}
button.close {
  color: $secondary;
}

button.close:hover {
  color: $primary;
}
#navigation-collapse {
  background: rgba(255, 255, 255, 0);
  padding: 5px;
}
.show {
  background: $secondary !important;
}

polygon {
  color: $primary;
}

// change the theme
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "danger": #ff4136,
);

.sidenav {
  margin-top: 74px !important;
  height: 70vh;
  border-radius: 8px;
}
.sidenav---sidenav---_2tBP {
  background: $primare_opac;
}

.sidenav---collapsed---LQDEv {
  height: 214px;
}

// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";

@import "~leaflet/dist/leaflet.css";

@import "~react-leaflet-markercluster/dist/styles.min.css";

@import "~@trendmicro/react-sidenav/dist/react-sidenav.css";

:export {
  primarycolor: $primary;
  secondarycolor: $secondary;
}

// Bigger heading hbig
//hbig{
// font-size: 60px;
//}

// Paragraph bigger
//p {
//  font-size: 30px;
//}

.leaflet-right {
  margin-top: 64px;
}
.leaflet-control-layers {
  background-color: $primary;
  color: rgb(196, 212, 197);
}
.location-div button {
  position: absolute;
  top: 74px;
  right: 10px;
  z-index: 1006;
  background-color: $primary;
  color: rgb(196, 212, 197);
}
button.grey {
  background-color: $secondary_opac;
  border-color: $secondary_opac;
}
button.grey:focus {
  background-color: $secondary_opac;
  border-color: $secondary_opac;
}
.column {
  float: left;
  padding: 10px;
  width: 33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Responsive layout - when the screen is less than 600px wide, make the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.leaflet-popup-content-wrapper {
  background-color: rgba(255, 255, 255, 0.9);
}
.pointMap .leaflet-popup-content-wrapper {
  min-height: 350px;
}
.pointMap.mobile .leaflet-popup-content-wrapper {
  min-height: 160px;
}
.leaflet-popup-content {
  margin-top: 0px;
  margin-bottom: 0px;
}
.leaflet-popup-content p {
  margin-top: 5px;
  margin-bottom: 5px;
}
.table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.tr:nth-child(even) {
  background-color: #dddddd;
}

.div.transbox {
  margin: 30px;
  background-color: #ffffff;
  border: 5px solid black;
  opacity: 0.7;
  //position: center;
  width: 60%;
  height: 80%;
  margin: 5% 20%;
}

div.transbox p {
  //margin: 1%;
  font-weight: bold;
  color: #000000;
}
//.leaflet-popup-content {
// background-color: #ff6565;
//width:auto;
//}
.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  opacity: 1;
}

.button1 {
  background-color: #dd591b;
} /* Green */
.button2 {
  background-color: #008cba;
} /* Blue */

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  position: center;
}

.container {
  padding: 10%;
}

.request-popup .leaflet-popup-content-wrapper {
  border-radius: 0px;
}
.withoutPicture {
  max-width: 250px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: calc(100% - 30px);
  box-sizing: border-box;
}

.vertical-center-plot {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  box-sizing: border-box;
  width: unquote("calc(100% - 30px)");
  height: 100%;
}
.plot-col {
  background-color: rgb(255, 255, 255);
  height: 40vw;
  transform: translateX(-100%);
  &:nth-child(even) {
    margin-right: 0;
  }
}
.plot-col-mobile {
  background-color: rgb(255, 255, 255);
  height: 100vw;
  transform: translateX(-100%);
  &:nth-child(even) {
    margin-right: 0;
  }
}
.plot-col-right {
  background-color: rgb(255, 255, 255);
  height: 40vw;
  transform: translateX(100%);
  &:nth-child(even) {
    margin-right: 0;
  }
}
.plot-col-mobile-right {
  background-color: rgb(255, 255, 255);
  height: 100vw;
  transform: translateX(100%);
  &:nth-child(even) {
    margin-right: 0;
  }
}

@mixin makeFontSizeDesktop() {
  font-size: 1.5rem;
}
@mixin makeFontSizeMobile() {
  font-size: 1rem;
}
#plot-container-1 p {
  @include makeFontSizeDesktop();
}
#plot-container-1.mobile p {
  @include makeFontSizeMobile();
}
#plot-container-2 p {
  @include makeFontSizeDesktop();
}
#plot-container-2.mobile p {
  @include makeFontSizeMobile();
}
#plot-container-3 p {
  @include makeFontSizeDesktop();
}
#plot-container-3.mobile p {
  @include makeFontSizeMobile();
}

.text-col {
  background-color: $primary;
  color: white;
  height: 40vw;
  opacity: 1;
  &:nth-child(even) {
    margin-right: 0;
  }
}
.text-col-mobile {
  background-color: $primary;
  color: white;
  height: 100vw;
  opacity: 1;
  &:nth-child(even) {
    margin-right: 0;
  }
}
.grid-col-prime {
  background-color: $primary_light;
  height: 25vw;
  opacity: 1;
  text-align: center;
  &:nth-child(even) {
    margin-right: 0;
  }
}
.grid-col-prime-mobile {
  background-color: $primary_light;
  height: 100vw;
  opacity: 1;
  text-align: center;
  &:nth-child(even) {
    margin-right: 0;
  }
}
.grid-col-white {
  background-color: rgb(255, 255, 255);
  height: 25vw;
  opacity: 1;
  &:nth-child(even) {
    margin-right: 0;
  }
}
.grid-col-white-mobile {
  background-color: rgb(255, 255, 255);
  height: 50vh;
  opacity: 1;
  &:nth-child(even) {
    margin-right: 0;
  }
}

.come-in {
  transform: translateX(100vw);
  animation: come-in 0.8s ease-out forwards;
}
.come-in:nth-child(odd) {
  animation-duration: 1.2s;
}
.come-in-left {
  transform: translateX(-100vw);
  animation: come-in-left 0.8s ease-out forwards;
}
.come-in-left:nth-child(odd) {
  animation-duration: 1.2s;
}
@keyframes come-in {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes come-in-left {
  from {
    transform: translateX(-100vw);
  }
  to {
    transform: translateX(0);
  }
}
.clipboard-alert {
  position: fixed;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 11147;
  background-color: rgb(196, 212, 197);
  color: white;
}

.copy-link-button {
  background-color: white;
  color: $primary;
  padding: 1px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-color: $primary;
}
